# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Environment
.env
.env.local
.env.*.local
!.env.example

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Flutter / Dart
apps/mobile/.dart_tool/
apps/mobile/.flutter-plugins
apps/mobile/.flutter-plugins-dependencies
apps/mobile/.metadata
apps/mobile/build/
apps/mobile/ios/Pods/
apps/mobile/ios/.symlinks/
apps/mobile/ios/Flutter/Flutter.framework
apps/mobile/ios/Flutter/Flutter.podspec
apps/mobile/android/.gradle/
apps/mobile/android/app/build/
apps/mobile/android/build/
apps/mobile/android/local.properties
apps/mobile/android/key.properties
apps/mobile/android/app/debug/
apps/mobile/android/app/profile/
apps/mobile/android/app/release/
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.iml

# Prisma
apps/api/prisma/migrations/**/migration_lock.toml.bak

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Coverage / testing
coverage/
.nyc_output/

# Misc
*.local
